<!-- Modal -->
<div class="modal fade" id="infoModal-{{completedTask.id}}" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">{{ completedTask.content }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
                <strong>Created On:</strong> {{ completedTask.created_on.strftime('%d-%m-%Y') }} <br>
                <strong>Last modified on:</strong> {{ completedTask.modified_on.strftime('%d-%m-%Y') }}
            </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
